{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="banner">
    <div class="banner-content">
        <h1>photoBlog</h1>
        {% if user.is_authenticated %}
            <h3>Good to See You, <span class="banner-user">{{ user.username }}!</span></h3>
            <p class="banner-desc">We're glad to have you here in photoBlog. This platform showcases my skills in full-stack web development using Django, HTML, CSS, and Bootstrap. Here, you can register, log in, and explore posts from other users. Logged-in users can also create, edit, and delete their own posts and comments. Enjoy the experience and see what I've built!</p>
            <p class="banner-link">Feel free to <a href="{% url 'post_create' %}">Create a New Post</a> or explore our categories to view other posts.</p>
            
        {% else %}
            <p class="banner-desc">We're glad to have you here in photoBlog. This platform showcases my skills in full-stack web development using Django, HTML, CSS, and Bootstrap. Here, you can register, log in, and explore posts from other users. Logged-in users can also create, edit, and delete their own posts and comments. Enjoy the experience and see what I've built!</p>
            <p class="banner-link"><a href="{% url 'login' %}">Sign in</a> or <a href="{% url 'registration' %}">Register</a> to join our community and start sharing your own creations!</p>
        
        {% endif %}
    </div>
    <div class="banner-image">
      <img src="{% static 'images/banner_background.jpg' %}" alt="Banner Background">
    </div>    
</div>

<span class="separator"></span>

<!-- Display categories -->
<h2 id="categories" class="category-title">Categories</h2>
<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    {% for category in categories %}
      <div class="carousel-item {% if forloop.first %}active{% endif %}">
        <img src="{{ category.image.url }}" class="d-block w-100" alt="{{ category.name }}">
        <div class="carousel-caption d-none d-md-block">
          {% if user.is_authenticated %}
          <a href="{% url 'post_list' category_id=category.id %}" class="text-white text-decoration-none">
            <h5>{{ category.name }}</h5>
          </a>
          {% else %}
          <a href="{% url 'login' %}?next={% url 'post_list' category_id=category.id %}" class="text-white text-decoration-none">
            <h5>{{ category.name }}</h5>
          </a>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

{% endblock %}

<!-- 
<a href=""><i class="fas fa-trash"></i></i>delete</a>
<a href=""><i class="fas fa-pen"></i>edit</a>
<a href=""><i class="far fa-comment-alt"></i>comment</a>
<a href=""><i class="fas fa-plus"></i></i>add</a>
<a href=""><i class="far fa-hdd"></i>save</a>
<a href=""><i class="fas fa-check"></i>select</a>
<a href=""><i class="fas fa-lock"></i>password</a>
<a href=""><i class="fas fa-user"></i>user</a>
<a href=""><i class="fas fa-sign-in-alt"></i>login</a>
<a href=""><i class="fas fa-sign-out-alt"></i>logout</a>
<a href=""><i class="fas fa-user-plus"></i>register</a> 
-->