{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<h1>Welcome to My Blog!</h1>
{% if user.is_authenticated %}
    <p>Welcome, {{ user.username }}!</p>
    <a href="{% url 'logout' %}">Logout</a>
    <p><a href="{% url 'post_create' %}">Create a New Post</a></p>

    <!-- Display categories -->
    <h2>Categories</h2>
    <ul>
        {% for category in categories %}
            <li><a href="{% url 'post_list' category_id=category.id %}">{{ category.name }}</a></li>
        {% endfor %}
    </ul>
    
{% else %}
    <p><a href="{% url 'login' %}">Login</a></p>
    <p><a href="{% url 'registration' %}">Register</a></p>
    
    <!-- Display categories -->
    <h2>Categories</h2>
    <ul>
        {% for category in categories %}
            <li><a href="{% url 'login' %}?next={% url 'post_list' category_id=category.id %}">{{ category.name }}</a></li>
        {% endfor %}
    </ul>
{% endif %}
{% endblock %}
