{% extends 'base.html' %}
{% load post_filters %}

{% block title %}{% if form.instance.pk %}Edit Post{% else %}New Post{% endif %}{% endblock %}

{% block content %}
<div class="post-container">
    <h2>{% if form.instance.pk %}Edit Post{% else %}New Post{% endif %}</h2>
    <form method="post" enctype="multipart/form-data" class="mb-4 d-inline">
        {% csrf_token %}
        
        <div class="mb-3">
            <label for="id_content" class="form-label">Title</label>
            {{ form.title|add_class:"form-control" }}
        </div>
        <div class="mb-3">
            <label for="id_content" class="form-label">Image</label>
            {{ form.image|add_class:"form-control" }}
        </div>
        <div class="mb-3">
            <label for="id_content" class="form-label">Description</label>
            {{ form.content|add_class:"form-control" }}
        </div>
        <div class="mb-3">
            <label for="id_content" class="form-label">Category</label>
            {{ form.category|add_class:"form-control" }}
        </div>
        <button type="submit" class="btn btn-outline-secondary me-3 mb-3 col-6"><span class="loging">Save Changes</span> <i class="far fa-hdd"></i></button>
    </form>

    {% if form.instance.pk %}
    <form method="post" action="{% url 'delete_post' form.instance.pk %}" class="d-inline">
        {% csrf_token %}
        <button type="submit" class="btn btn-outline-secondary me-3 mb-3 col-6"><span class="loging">Delete Post</span> <i class="fas fa-trash"></i></button>
    </form>
    {% endif %}
</div>
{% endblock %}