{% extends 'base.html' %}
{% load post_filters %}

{% block title %}Edit Comment{% endblock %}

{% block content %}
<div class="post-container">
    <h2>Edit Comment</h2>
    <form method="post" class="mb-4 d-inline">
        {% csrf_token %}
        <div class="mb-3">
            <label for="id_content" class="form-label"></label>
            {{ form.content|add_class:"form-control" }}
        </div>
        <button type="submit" class="btn btn-outline-secondary me-2"><span class="loging">Save Changes</span> <i class="far fa-hdd"></i></button>
    </form>

    <form method="post" action="{% url 'delete_comment' comment.id %}" class="d-inline">
        {% csrf_token %}
        <button type="submit" class="btn btn-outline-secondary"><span class="loging">Delete Comment</span> <i class="fas fa-trash"></i></button>
    </form>
</div>
{% endblock %}
