@media (min-width: 1400px) {
    /* navbar */
    .navbar-brand{
        padding: 0 50px;
    }
    /* home page */
    .banner {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 80%;
        height: 500px;
        padding: 20px;
        margin: 0 auto;
    }
    .banner-content, .banner-image {
        flex: 1;
        max-width: 50%;
        display: grid;
        gap: 20px;
    }
    h1, h3 {
        text-align: left;
    }
    h2 {
        text-align: center;
    }
    .category-title {
        text-decoration: underline;
        font-size: xxx-large;
        margin: 50px 0;
    }    
    .banner-image img {
        max-width: 100%;
        object-fit: contain;
        margin: auto 0;
    }
    .banner-desc, .banner-link {
        font-size: 17px;
        font-weight: 400;
        line-height: 30px;
        color: var(--text-light-color);
        text-align: left;
    } 
    .carousel-inner{
        width: 80%;
        margin: 0 auto;
    }   
    .carousel-item img {
        max-width: 350px;
        height: 350px;
        object-fit: inherit;
        border-radius: 50%;
        margin: 0 auto; 
    }
    .carousel-caption h5 {
        font-size: xx-large;
        width: 60%;
    }
    /* post list */
    .title {
        font-weight: 700;
        text-decoration: underline;
        margin: 30px;
    }
    .post-cart {
        display: flex;
        width: 80%;
        height: 300px;
        padding: 20px;
        margin: 0 auto;
        border: solid 1px;
        border-radius: 3px;
    }
    .post-img {
        flex: 1;
        max-width: 50%;
        display: grid;
    }
    .post-info {
        flex: 1;
        max-width: 50%;
        display: grid;
    }
    .post-img img {
        max-width: 300px;
        height: 250px;
        object-fit: contain;
        margin: auto;
    }
    .cart-title {
        margin-top: 20px;
    }
    .post-author {
        color: var(--primary-color);
        font-size: larger;
        font-weight: 600;
    }
    .view-post {
        text-align: right;
        margin-right: 120px;
        font-weight: 600;
    }
    /* registration - log in */
    .form-container {
        width: 60%;
        margin: 0 auto;
    }
    /* post detail */
    .post-container {
        width: 80%;
        height: auto;
        margin: 0 auto;
    }
    .post-image {
        height: 600px;
        max-width: 100%;
        background: var(--cart-color);
        padding: 20px 0;
        margin: 0 auto;
    }
    .post-image img {
        max-width: 750px;
        height: 100%;
        object-fit: contain;
        margin: 0 auto;
    }
    .post-desc {
        margin-top: 30px;
    }
    .content-info {
        text-align: right ;
        color: var(--secondary-color);
        font-size: small;
        margin: 0;
    }
    .post-comment {
        width: 85%;
        margin: 30px auto;
    }
    .add-comment {
        width: 65%;
        margin: 30px auto
    }
}